<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBFLxPOS62g6Xy72YYi8V6-soDtVxSz6gY</string>
	<key>GCM_SENDER_ID</key>
	<string>643528071532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterRecipe.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-recipe-db</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-recipe-db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643528071532:ios:196ea1624e38fbb61c7b49</string>
</dict>
</plist>